/* Footer.css */
.custom-footer {
  background-color: #0d1b2a;
  color: #020202;
  padding: 40px 0;
}

.custom-footer h5,
.custom-footer h6 {
  color: #030303;
}

.custom-footer a {
  color: #030303;
  text-decoration: none;
}

.custom-footer a:hover {
  text-decoration: underline;
}

.social-icons a {
  font-size: 1.2rem;
  color: #1705b9;
  margin-right: 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1da1f2;
}
