.custom-post-btn {
  background-color:#0d2d4e;

  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
}

.custom-post-btn .caret-icon {
  margin-left: 5px;
  font-size: 0.8rem;
}

/* Remove default dropdown arrow */
.custom-post-dropdown .dropdown-toggle::after {
  display: none !important;
}
.ms-auto{
  color: rgb(12, 12, 12);
  font-size: larger;
  font-weight: bold;
}
