.custom-post-btn {
  background-color: #184488;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
}

.custom-post-btn .caret-icon {
  margin-left: 5px;
  font-size: 0.8rem;
}

.custom-post-dropdown .dropdown-toggle::after {
  display: none !important;
}
.ms-auto{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.ms-auto:hover{
  text-decoration: dashed;
  color: rgb(24, 25, 90);
}